body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: white;
}

header {
    backgroud: lightgreen;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background: transparent;

}

nav a {
    margin: auto;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 20px;
}

section {
    padding: 30px;   
    background: yellowgreen;

}

form {
    display:flex;
    flex-direction: column;
    max-width:300px;
}

input, button {
    margin: 5px 0 ;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button{
    backgroud:lightgreen;
    color: black;
    cursor: pointer;
}

.bloque {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:40px;

    margin:50px 0;
    padding: 20px;

}

.contenido {
    flex: 1;
}

.imagen {
    flex: 1;
    
}

.imagen img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

